* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "adelle-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(221, 221, 225);
  /* transition: all 1s ease-in-out; */
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#home {
  background-color: rgb(221, 221, 225);
  height: 30vh;
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
}

#textrow {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

#inspiration {
  height: auto;
}

#projects {
  height: 50vh;
  padding-top: 70px;
}

#med-image {
  height: 400px;
  width: auto;
}

#image-container {
  display: flex;
  gap: 10px;
}

#about-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  /* width: 70vw; */
  min-width: 400px;
  max-width: 1200px;
  height: auto;
  gap: 30px;
  align-items: center;
}

#mobile-image {
  width: 195px;
  height: 350px;
}

#competitive-analysis {
  height: auto;
  padding-top: 70px;
  padding-bottom: 100px;
}

#reel-container {
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0;
  text-align: center;
  color: rgb(86, 69, 87);
  font-size: 5rem;
  font-family: "adelle-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.25em;

  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

h2 {
  color: rgb(97, 89, 94);
  letter-spacing: 0.04em;
  font-weight: 400;
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

h3 {
  margin-top: 5px;
  text-align: center;
  color: rgb(131, 120, 132);
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 0.05em;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

p {
  color: rgb(84, 76, 81);
  text-align: left;
  font-size: 18px;
  line-height: 2rem;
}

li {
  color: rgb(84, 76, 81);
  text-align: left;
  font-size: 18px;
  line-height: 2rem;
}

a {
  color: rgb(240, 48, 99);
}
section {
  padding-bottom: 20px;
  background-color: rgb(221, 221, 225);
}

footer {
  padding-bottom: 20px;
  position: static;
  background-color: rgb(221, 221, 225);
  p {
    text-align: center;
    margin: 0;
    font-size: 16px;
    line-height: normal;
  }
}

@media screen and (max-width: 900px) {
  #about-container {
    flex-direction: column-reverse;
    gap: 20px;
  }
}

#showoff-container {
  display: flex;
  justify-content: center;
}

#final-desktop {
  width: 60%;
}

#flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
